/** @format */

.Toastify__toast {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 10px;
}

.Toastify__toast-body {
  color: #292929;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
}
.Toastify__close-button {
  color: rgb(235, 235, 235);
}
.Toastify__toast-icon {
  padding: 0.05rem;
}
